.homeContainer{
    position: relative;

    &.active{
        .calendarWrap{
            height: 90%;
        }
        .infoWrap{
            height: 0%;
            transform: translateY(100px);
            opacity: 0;
            transition: 0.5s;
            visibility: hidden;
        }
        .scheduleBtnWrap button{
            visibility: visible;
            opacity: 1;
            transform: scale(1) rotate(720deg);
        }
    }

    // 캘린더
    .calendarWrap{
        padding: 20px;

        height: 60%;
        transition: 0.5s;

        .calendar{
            width: 100%;
            height: 100%;

            border: 1px solid;
        }
    }

    // 캘린더 외
    .infoWrap{
        height: 30%;
        transition: 0.3s;

        // 최근 일정 & 제일 가까운 일정
        .recentSchedule{
            height: 40%;

            border-top: 1px solid;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        // 최근메모 , 최근 일기
        .infoMiddleWrap{

            height: 40%;

            display: flex;

            &>div{
                width: 50%;
                border: 1px solid;

                @include displayJA(center,_);

            }
        }
    }

    .scheduleBtnWrap{
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 10%;

        background: #fff;

        @include displayJA();
        button{
            width: 35px;
            height: 35px;

            border-radius: 50%;
            border: 1px solid #aaa;

            visibility: hidden;
            opacity: 0;
            transform: scale(0);
            transition: 0.5s;
        }
    }
}